<section class="content">
  <div class="container content__container">
    <div class="gallery">
      <div class="gallery__left">
        <img src="@img/work/1.jpg" alt="Work 1" class="gallery__item">
        <img src="@img/work/2.jpg" alt="Work 2" class="gallery__item">
        <div class="text-block gallery__item">
          <h2 class="text-block__title">Creative floating scroll with amazing parallax effect</h2>
          <p class="text-block__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            amount scrolling.</p>
        </div>
        <img src="@img/work/6.jpg" alt="Work 6" class="gallery__item">
      </div>
      <div class="gallery__right">
        <div class="text-block gallery__item">
          <h2 class="text-block__title">Creative floating scroll with amazing parallax effect</h2>
          <p class="text-block__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            amount scrolling.</p>
        </div>
        <img src="@img/work/3.jpg" alt="Work 3" class="gallery__item">
        <img src="@img/work/4.jpg" alt="Work 4" class="gallery__item">
        <img src="@img/work/5.jpg" alt="Work 5" class="gallery__item">
      </div>
    </div>
  </div>
</section>